@using System.Numerics

<div style="margin-top: 1rem; margin-bottom: 1rem;">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var rec in History)
        {
            <tr class="">
                <td scope="row">
                    @rec.Id
                </td>
                <td scope="row">
                    @rec.Author
                </td>
                <td>
                    @rec.StatusText()
                </td>
                <td>
                    @rec.Timestamp.GetTimeString()
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>

@code {
    [Parameter]
    public List<HistoryRecordDTO> History { get; set; }
}
