@if (Metrics != null && Metrics.Count > 0)
{
    @foreach (var metric in Metrics)
    {
        <div>@metric.Id @metric.Cid</div>
    }
}


@code {
    [Parameter]
    public List<Metric> Metrics { get; set; }
}
